@require "app/styles/charte"


/*
 * IDs
 */
#headline
	&-title
		color: $color-title
		font-family: Cinzel
		font-size: 1.6em
		text-transform: lowercase

	&-desc
		font-size: 1.1em
		line-height: 1.4
		margin: .25em 0
