@require "app/styles/charte"

/*
 * Classes
 */
.changelang-flag
	width: 36px
	height: 30px
	background-repeat: no-repeat
	background-position: center
	border: 0
	border-radius: 0
	margin: 3px

	&--active
		background-color: $color-flag


/*
 * IDs
 */
#changelang
	position: absolute
	top: 1em
	right: 1em

	&-fr
		background-image: url("../images/FR.png")

	&-en
		background-image: url("../images/US.png")
